PAYMENT_SERVICE_PORT=3008
PAYMENT_SERVICE_HOST=localhost

VNPAY_TMN_CODE=your_tmn_code
VNPAY_HASH_SECRET=your_hash_secret
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/api/v1/payments/vnpay-return

ORDER_SERVICE_HOST=localhost
ORDER_SERVICE_PORT=3004

RABBITMQ_URL=amqp://localhost:5672
REDIS_URL=redis://localhost:6379

PAYMENT_DB_HOST=localhost
PAYMENT_DB_PORT=5432
PAYMENT_DB_USERNAME=postgres
PAYMENT_DB_PASSWORD=postgres
PAYMENT_DB_NAME=cinemakatok
PAYMENT_DB_SYNCHRONIZE=true
PAYMENT_DB_POOL_MAX=10
PAYMENT_DB_POOL_MIN=2
PAYMENT_DB_POOL_IDLE_TIMEOUT_MS=30000
PAYMENT_DB_POOL_CONNECT_TIMEOUT_MS=5000
PAYMENT_DB_SSL_ENABLED=false
PAYMENT_DB_SSL_REJECT_UNAUTHORIZED=false

